/* 
    Document   : main
    Created on : Jul 30, 2012, 11:09:25 AM
    Author     : powerphillg5
    Description:
        Purpose of the stylesheet follows.
*/

#guini_welcome{
    margin-top: 100px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
   
}

#guinilog{
    width: 400px;
    margin-bottom: 50px;
}

input {
    border: solid 1px #cccccc;
    font-size: 20px;
    border-radius: 5px;
    width: 160px;
    margin: 10px;
}

