/* 
    Document   : photos
    Created on : Jul 23, 2012, 1:48:20 PM
    Author     : powerphillg5
    Description:
        Purpose of the stylesheet follows.
*/

.photocat { 
    display: inline-block;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 20px;
    text-align: center;
    cursor: pointer;
    transition: 500ms;
    -moz-transition: 500ms;  
    -webkit-transition: 500ms;   
    -o-transition: 500ms; 

}
.photocat img{
    margin: 5px; 

}

.photocat:hover{
    background-color:rgb(141, 201, 232);
    color: white;
    text-shadow: none;
}

.showcase{
    display: block;
    max-width: 805px;
    margin: auto;


}

.boxshadow{
    text-align: center;
}

.nextd{ transition: 500ms;
        -moz-transition: 500ms;  
        -webkit-transition: 500ms;   
        -o-transition: 500ms; 
        cursor: pointer;
        vertical-align:central;
}

.backtd{ transition: 500ms;
         -moz-transition: 500ms;  
         -webkit-transition: 500ms;   
         -o-transition: 500ms; 
         cursor: pointer;
}


.nextd:hover{

    background-color:rgb(141, 201, 232);
}

.backtd:hover{
    background-color:rgb(141, 201, 232);
} 

.album_section {
    transition: 500ms;
    -moz-transition: 500ms;  
    -webkit-transition: 500ms;   
    -o-transition: 500ms; 
    cursor: pointer;
    vertical-align:central;
    padding: 20px;
    cursor: pointer;
    border-bottom: solid 1px rgb(200, 200, 200);
}


.album_section:hover{
    background-color:rgb(141, 201, 232);
}

.album_section:hover h3{
    color: white;
    text-shadow: none;
}