/* 
    Document   : error
    Created on : Jul 16, 2012, 2:44:16 PM
    Author     : powerphillg5
    Description:
        Purpose of the stylesheet follows.
*/
#errorhead{
    text-align: center;
    color: black;
    text-shadow: none;
    padding: 10px;
}

#errorhead img{
    box-shadow: none;
}

