/* 
    Document   : stream
    Created on : Jul 27, 2012, 2:07:13 PM
    Author     : powerphillg5
    Description:
        Purpose of the stylesheet follows.
*/


.content{
    color: gray;
    margin: 20px 0;
    font-size: 15px;
    text-indent: 15px;
}


.event_title{
    position: relative;
    margin-top: 0px;
    margin-left: 10px;
    color: black;
    font-size: 35px;
    margin-bottom: 20px;
    color:#000000;
    text-decoration: none;
    color:#000000;
}

.event_title{

}

#content td:first-child{
    border-right: solid rgb(200, 200, 200) 1px;
}
td{
    padding: 20px;
    text-align: left;
}

.place{
    text-indent: 20px;
    color: gray;
    margin-top: 5px;
    font-size: 15px;
}